
/* css */

p {
  font-family: "Jua";
  font-size: 120%;
  padding: 5px;
}

h4 {
  font-family: "Lobster";
  margin-top: 30px;
}


.welcome {
  border-radius: 100px;
  border: 3px solid #4CCCE9;
  width: 50%;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  text-align: center;
}

#start {
  font-family: "Lobster";
  font-size: 120%;
  background-color: #A4E94C;
}

#start:hover {
  background-color: #89c23e;
}

#startAbout {
  font-family: "Lobster";
  font-size: 120%;
  background-color: #E9D94C;
}

#startAbout:hover {
  background-color: #D1C344;
}

.instructions {
  border-radius: 100px;
  border: 3px solid #4CCCE9;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
}

.about {
  border-radius: 100px;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.about1 {
  border: 3px solid #4CCCE9;
}

.about2 {
  border: 3px solid #C04CE9;
}

.about3 {
  border: 3px solid #DA4E4E;
}

.about4 {
  border: 3px solid #A4E94C;
}

.about5 {
  border: 3px solid #FF7539;
}

.btn {
  font-family: "Jua";
  margin-bottom: 2rem;
}

.square {
  width: 100%;
  height: 20rem;
}

.square1 {
  border-radius: 75px 0px 0px 75px;
}

.square5 {
  border-radius: 0px 75px 75px 0px;
}

.hexcode {
  padding-top: 17rem;
  color: white;
  text-align: center;
  font-size: 100%;
}

.hexcode1 {
  padding-left: 1rem;
}

.hexcode5 {
  padding-right: 1rem;
}

.shift {
  width: 35%;
  height: 35%;
  margin-top: 1rem;
}

.forward1 {
  padding-left: 1rem;
}

.back5 {
  padding-right: 1rem;
}

/* from W3Schools */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px;
  z-index: 1;
  font-family: "Jua";
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {background-color: #4CCCE9;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #3366CC;}

.menu {
  text-decoration: none;
  color: black;
};

.menu:hover .aboutLink {background-color: #4CCCE9;}
